name: CI/CD - Build and Push to ECR

on:
  workflow_dispatch:   #to run manual tests remove later
  push:
    branches: [ "main" ]
    paths:
      - 'hello-basit-comet/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'hello-basit-comet/**'
env:
  AWS_REGION: us-east-2
  #ECR_REPOSITORY: bazitadebiyicometproject/hello-basit-comet

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          cd hello-basit-comet
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run Tests
        working-directory: hello-basit-comet
        run: |
          PYTHONPATH=. pytest -v

  build:
    runs-on: ubuntu-latest
    needs: test
    # Build image only if files in hello-comet/src change
    if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, Tag, and Push Docker image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
          IMAGE_TAG: ${{ github.sha }}
          BRANCH_TAG: ${{ github.ref_name }}-${{ github.sha }}
        run: |
          cd hello-basit-comet
          docker build -f Dockerfile \
            -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG \
            -t $ECR_REGISTRY/$ECR_REPOSITORY:latest \
            -t $ECR_REGISTRY/$ECR_REPOSITORY:$BRANCH_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$BRANCH_TAG
